/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 18px;
    line-height: 1.5;
    font-family: "proxima-nova", arial, sans-serif;
    color: #2D3033;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #0076D1;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-size: 43px;
    line-height: 40px;
    margin: 0 0 8px;
    font-weight: 700;
}

h2 {
    font-size: 21px;
    line-height: 24px;
    margin: 0 0 8px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 4px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #028DF9;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: #028DF9;
}

a:hover,
a:focus {
    color: #004880;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    padding: 24px 24px 0;
    display: flow-root;
}

.o-row-body {
    padding-top: 48px;
}

/* @media (min-width: 768px) {
    .o-row-body {
            padding-left: 48px;
            padding-right: 48px;
        }
} */
/* color modifiers */

.o-row--primary-x-dark {
    color: #F2F5F7;
    background-color: #005EA6;
}

.o-row--neutral-xx-dark {
    color: #fff;
    background: #20223A;
}
/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }

    .o-row--md {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .o-row--lg {
        padding-top: 72px;
        padding-bottom: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 90em;
    /* 90 * 16px = 1440px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
}

.o-section+.o-section {
    margin-top: 24px;
}

@media (min-width: 768px) {

    .o-section--lg+.o-section--lg,
    .o-section--xl+.o-section--xl {
        margin-top: 48px;
    }
}

@media (min-width: 1200px) {
    .o-section--xl+.o-section--xl {
        margin-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}


.o-layout__item {
    flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter>.o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm>.o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg>.o-layout__item {
    padding: 0 24px;
}

/*horizontal row modifier */

.o-layout--row {
    flex-direction: row;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/*vertical row modifier */

.o-layout--column {
    flex-direction: column;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}


/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.c-header__btn {
    cursor: pointer;
    display:block;
    margin: 0 0 24px;
    color: #000
}



.c-titel {
    margin: 0 0 24px;
}

.c-header_rechts {
    justify-content: flex-end;
}
.c-header_rechts {
    justify-content: flex-start;
}
/*
    Component: sensor-from
    ---
    form sensors
*/
    .c-sensor-form-titel{
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 8px;
        font-weight: 700;
    }
    .c-sensor-item{
        display: inline-block;
        text-decoration: none;
        width:220px;
        padding: 16px;
        border-radius: 4px;
        background: #AED8F9;
    }
    .c-sensor-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }


    @media (min-width: 835px) {
        .c-sensor-list {
            flex-direction: row;
            gap:26px;
            
        }
        .c-sensor-item {
            width: 180px;
        }
    }
       
    @media (min-width: 1200px) {
        .c-sensor-list {
            gap: 82px;
            
        }
        .c-sensor-item {
            width: 220px;
        }
    }

    .c-scherm-items{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
 /*
    slider
*/

.c-scherm-button{
    padding-right: 8px;
}
.c-switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;

}


.c-switch-input {
visibility: hidden;
opacity: 0;
}

.c-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    border-radius: 30px;
    background-color: #A4ACB3;
    -webkit-transition: .3s;
    transition: .3s;
}

.c-slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.c-slider {
background-color: #004880
}

input:focus+.c-slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked+.c-slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/*
Component: button
---
button om scherm te bedienen
*/  
.c-form-button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #899299;
    background: #FFFFFF;
    color: #2D3033;
}

.c-button{
    display:flex;
    align-items: center;
    flex-direction:column;
}
.c-button-tekst{
    margin:0;
}

/*
    Component: dropdown
    ---
    dropdown menu for multiple graphs
*/


.c-dropdown-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-dropdown-titel-wrapper{
    display: flex;
    width: none;
    align-items: center;
}
.c-dropdown-titel {
    font-size: 21px;
    margin: auto;
}

.c-dropdown-left{
    visibility: hidden
}
.c-dropdown-menu{
    cursor: pointer;
    font-size: 18px;
    line-height: 1.5;
    font-family: "proxima-nova", arial, sans-serif;
    color: #F2F5F7;
    width: 130px;
    height: 32px;
    outline: none;
    background-color: #004880;
    font-weight: 400;
    border-radius: 15px;
    padding-left: 4px;
    padding-right: 4px;
}
.c-dropdown-chart{
    display: inline-block;
    /* justify-content: center; */
    padding-left: 4px;
    padding-right: 4px;
}
@media (min-width: 835px) {
    .c-dropdown-titel {
        font-size: 32px;
        }
    .c-dropdown-titel-wrapper {
        display: flex;
        width: 400px;
    }
    .c-dropdown-left {
        display: inline-block;
        width: 125px;
        }
    .c-dropdown-chart {
        width: 800px;
    }
}

@media (min-width: 1200px) {
        .c-dropdown-titel-wrapper {
            display: flex;
            width: 510px;
        }
        .c-dropdown-titel {
            font-size: 42px;
        }
        .c-dropdown-chart {
        width: 1100px;
        }
}
/* chart
*/
.c-chart-labels {
    font-size: 14px;
    line-height: 1.5;
    font-family: "proxima-nova", arial, sans-serif;
    color: #2D3033;
    font-weight: 300;
}
.c-nav__link {
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 8px 0;
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
    color: #4B4E6B;
}

.c-nav__link:hover,
.c-nav__link:focus {
    color: #3385FF;
}

@media (min-width: 992px) {
    .c-nav__list {
        display: flex;
    }

    .c-nav__item--cta {
        margin-left: 20px;
    }

    .c-nav__link {
        padding: 8px 20px;
    }
}
/*
    Component: forms dagen
*/
.c-dag__list{
    display: flex;
    Flex-wrap: wrap;
    max-width: 250px;
    /* justify-content: space-between; */
}

/* .c-temp-FA2{
    margin-left: 43px;
} */

.c-dag__item{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    margin-bottom: 11px;
}

.c-form-dag {
    
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

input[type=checkbox]+label {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    width: 76px;
    height: 32px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #899299;
    background: #FFFFFF;
    color: #2D3033;
}

input[type=checkbox]:checked+label {
    box-shadow: inset 0 0 0 1px #004880;
    background: #004880;
    color: #F2F5F7;
}
/*
    Component: Lead
    ---
    Lead type treatments to style everything that differs from standard typography elements
*/

.c-lead {
    position: relative;
}

.c-lead--md {
    font-size: 18px;
    line-height: 32px;
}

.c-lead--lg {
    font-size: 20px;
    line-height: 32px;
}

.c-lead--xl {
    font-size: 32px;
    line-height: 40px;
}

@media (min-width: 768px) {
    .c-lead--xl {
        font-size: 41px;
        line-height: 48px;
    }
}

@media (min-width: 1200px) {
    .c-lead--xl {
        font-size: 52px;
        line-height: 64px;
    }
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-sm {
    max-width: 36em !important;
}

.u-max-width-md {
    max-width: 45em !important;
}

.u-max-width-lg {
    max-width: 60em !important;
}

.u-max-width-xl {
    max-width: 75em !important;
}

.u-max-width-none {
    max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}